.youtube_body {
  background-color: rgb(33, 33, 33);
  color: white;
}
.yt__phone_top {
  display: flex;
  justify-content: space-between;
}

.yt__phone_top > div:last-child {
  display: flex;
  align-items: center;
}
.phone_top_LTE {
  position: relative;
  top: -1px;
  margin-left: 5px;
  margin-right: 5px;
}
.yt__topbar {
  display: flex;
  justify-content: space-between;
}
.yt__topbar > div:first-child {
  font-size: 25px;
  display: flex;
  line-height: 20px;
  margin-left: 10px;
}
.yt__topbar_right {
  display: flex;
  justify-content: space-between;
}
.yt__topbar_right > span {
  margin-right: 5px;
}
.yt__topbar_right_user {
  background-color: orangered;
  font-size: 13px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yt__topbar_explorebar {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.yt__topbar_explorebar_left {
  display: flex;
  background-color: rgb(55, 55, 55);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.yt__topbar_explorebar_left > span {
  margin-right: 5px;
}
.yt__topbar_explorebar_right > span {
  border: solid;
  border-radius: 40px;
  margin-right: 20px;
  border-color: rgb(181, 181, 181);
  padding: 10px 15px;
  border-width: 1px;
  background-color: rgb(55, 55, 55);
}
.yt__topbar_playvideo {
  border-bottom: 10px;
  border-color: rgb(55, 55, 55);
  border-bottom-style: solid;
}
.yt__topbar_playvideo_img > img {
  width: 100%;
  height: 300px;
}
.yt__topbar_playvideo_title {
  display: flex;
  justify-content: space-between;

  padding-bottom: 30px;
}
.yt__topbar_playvideo_title > div > svg {
  margin-left: 30px;
  margin-top: 10px;
}

.yt__topbar_playvideo_title_text {
  font-size: 20px;
}
.yt__topbar_playvideo_title_text > div {
  font-size: 15px;
  color: rgb(156, 156, 156);
}

.yt__topbar_shorts_home {
  display: flex;
  margin-top: 15px;
  margin-left: 10px;

  margin-bottom: 20px;
}
.yt__topbar_shorts_home > span {
  margin-right: 5px;
}
.yt__topbar_shorts_home > span:last-child {
  position: relative;
  bottom: 5px;
  font-size: 22px;
}
.yt__topbar_shorts_fg {
  margin-left: 15px;
}
.yt__topbar_shorts_fg > img {
  height: 550px;
  width: 350px;
}

.yt__topbar_shorts_fg > div > svg {
  position: relative;
  left: 320px;
  bottom: 550px;
}

.yt__topbar_shorts_fg > div > span:first-child {
  font-weight: 900;
  position: relative;
  bottom: 130px;
  left: 15px;
}

.yt__topbar_shorts_fg > div > span:last-child {
  position: relative;
  font-weight: 800;
  bottom: 100px;
  right: 305px;
}
